// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************
GENERAL
***********************************************/

h1, h2, h3, h4, h5, h6 {
	color: #4b1000;
}

body {
	
}

.main-slogan {
	padding-right: 30px;
	margin-bottom: 20px;
}

.hire-form {
	height: 450px;
}

/***********************************************
HEADINGS
***********************************************/



/***********************************************
NAVBAR
***********************************************/

nav {
	height: 80px;
}

.navbar {
	margin-bottom: 50px;
}

nav ul li {
	list-style-type: none;
	margin: 13px;
}

/*.navbar ul li {
	vertical-align: middle;
}*/

/***********************************************
NAVBAR - Dropdown
***********************************************/

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
/*	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;*/  
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

.lang-bar {
	float: none;
	display: inline-block;
	align-content: center;
	vertical-align: middle;
}

/***********************************************
FOOTER
***********************************************/

footer {
	position: absolute;
	width: 100%;
	padding-top: 20px;
}

footer ul li {
	display: inline-block;
	list-style-type: none;
	height: 100px;
}

.search_field {
	align-content: bottom;
}

.logo {
	height: 50px;
	border-radius: 25px;
}

.navbar-brand {
	margin-right: 10px;
}

.foot-logo {
	margin-top: 15px;
}

/***********************************************
BODY
***********************************************/

body {
	padding-bottom: 50px;
}

li {
	list-style-type: none;
}

/***********************************************
TABLE
***********************************************/

.search-new ul li {
	display: inline-block;
	justify-content: space-between;
	margin: 20px 5px;

}

.ref-link ul li {
	display: flex;
	direction: column;
}

.table {
	/*display: inline-block;
	justify-content: center;
	width: 100%;*/
	margin-bottom: 50px;
}

.table tbody tr td {
	padding-top: 15px;
}

/***********************************************
CONTACT
***********************************************/

.contact {
	height: 700px;
	width: 50%;
	display: inline-block;
	direction: column;
	justify-content: center;
}

.contact-test {
	width: 100%;
}

/***********************************************
REFUGEE PAGE
***********************************************/

.refugee-profile {
	max-height: 500px;
}

.refugee-profile p {
	padding: 15px 0px 10px 0px;
}

/***********************************************
NEW REFUGEE PAGE
***********************************************/

.new-refugee-pg {
	height: 500px;
}


/***********************************************
COLOURS
***********************************************/

nav {
	background-color: #9B6C5E;
}

nav ul li a, a {
	color: #4b1000;
	font-weight: bold;
}

nav ul li a:hover {
	color: #B9320B;
}

ul li a:hover {
	color: #B9320B;
}

.table a:hover {
	color: #B9320B;
}

.table tr:hover {
	background: #9B9796;
}

.navbar ul li a:hover {
	background-color: #9B6C5E;
}


body {
	background-color: #e2e0de;
}

footer {
	background-color: #000;
	padding-top: 25px;
	margin-top: 40px;
}

footer ul li a {
	color: #C82D00;
}

footer ul li a:hover {
	background-color: #000;
}
